<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="./bower_components/drumjs/lib/drum.min.css">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
</head>
<style>
    body {
        display: none;
    }
</style>

<body>
    <div id="app">
        <div v-show="share" class="share" v-on:click="cancelshare()" transition="fade">
            <div class="arrow">
                <img src="./assets/arrow.png">
            </div>
            <div class="content">
                <img class="icon" src="./assets/logo2.png">
                <div class="text">
                    <p>点击右上角转发</p>
                </div>
            </div>
        </div>
        <div class="load" v-show="!loaded" transition="fade" style="width: 100%; height: 100%;">
            <div class="load__main">
                <div class="load__logo" v-bind:style="{ backgroundPosition: '0%' + (520 - load_percent * 5.2) + '%'}"></div>
                <p>loading..{{ load_percent }}%</p>
            </div>
        </div>
        <div class="main" v-show="loaded">
            <div class="logo">
                <div class="logo__main"><img src="./assets/logo_main.png" /></div>
                <div class="logo__logos"><img src="./assets/logos.png" /></div>
                <div class="logo__music"><img src="./assets/music.png" /></div>
            </div>
            <div class="finish" v-show="finish" transition="fade">
                <div class="finish__title">
                    <p>若初医助</p>
                    <p class="bg">乳腺健康筛选结果</p>
                </div>
                <div class="finish__main">
                    <div class="finish__main__p1">
                        <p>根据您的问卷,您目前乳腺健康评估风险为</p>
                        <div class="res_circle" v-bind:class="{ low: result.text == '低风险', high: result.text != '低风险'}">
                            <p>{{ result.text }}</p>
                        </div>
                    </div>
                    <div class="finish__main__p2">
                        <p>未来五年患病风险: {{ result.percent }}</p>
                        <p>未来五年平均患病风险: {{ result.avg_percent }}</p>
                    </div>
                    <div class="finish__main__p3">
                        <p class="title">建议</p>
                        <p>{{{ result.suggestion }}}</p>
                    </div>
                </div>
                <div class="finish__buttons">
                    <button id="button1" v-on:click="redo()">再测一次</button>
                    <button id="button2" v-on:click="sharee()">分享关爱</button>
                </div>
            </div>
            <div class="main" v-else>
                <div class="title">
                    <p class="number">0{{index + 1}}</p>
                    <p class="content">{{{questions[index].title}}}</p>
                </div>
                <div class="options">
                    <div v-show="questions[index].options.length == 0" class="datepicker-wrapper">
                        <select id="yearpicker">
          <option v-for="year in years">{{year}}</option>
        </select>
                        <select id="mouthpicker">
          <option v-for="mouth in mouths">{{mouth}}</option>
        </select>
                    </div>
                    <div v-if="questions[index].options.length == 0" class="option enter" v-on:click="enter()">
                        <div class="option__content">确认</div>
                    </div>
                    <div class="option" v-on:click="enter($index)" v-on:touchstart="click($event, $index)" v-bind:class="{ 'op5': questions[index].options.length == 5, 'active': activeIndex == $index}" v-for="option in questions[index].options">
                        <div class="option__content">{{option}}</div>
                    </div>
                </div>
            </div>
            <div class="footer" v-if="!finish">
                <div class="points">
                    <div class="point" v-bind:class="{'active': $index == index}" v-for="question in questions">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <audio id="audio" src="./assets/bg2.mp3" autoplay loop></audio>
    <script src="./js/jquery-3.1.0.slim.min.js"></script>
    <script src="./bower_components/drumjs/lib/drum.min.js"></script>
    <script src="./bower_components/drumjs/contrib/hammerjs/hammer.min.js"></script>
    <script src="./bower_components/drumjs/contrib/hammerjs/hammer.fakemultitouch.js"></script>
    <script src="./build/bundle2.js"></script>
</body>

</html>
